@import "tailwindcss";

body {
  margin: 0;
}

.scroll-fade-hover {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.scroll-fade-hover:hover {
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}
.scroll-fade-hover::-webkit-scrollbar {
  height: 6px;
}
.scroll-fade-hover::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-fade-hover::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
.scroll-fade-hover:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}
.scroll-fade-hover::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
